/* PORTADA */

.portada{
    text-align:center;
    padding:40px;
}

.portada img{
    width:300px;
}

/* BIENVENIDA */

.bienvenida{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);

    text-align:center;
}

.bienvenida span{
    color:#47606f;
    font-weight:bold;
}

/* CONTACTO */

.contacto{
    text-align:center;
}

.info-contacto p{
    margin:5px 0;
}

textarea{
    height:100px;
}

/* TESTIMONIOS */

.testimonios{
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    align-items:flex-start;
}

.persona{
    margin:20px;
}

.persona img{
    width:100px;
    border-radius:50%;
}

/* PRODUCTOS */

.productos{
    text-align:center;
}

.lista-productos{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2rem;
    flex-wrap:wrap;
}

.producto{
    background:#f2f2f2;

    padding:1.5rem;

    border-radius:10px;

    min-width:220px;

    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

/* COMPARACIÓN BOX MODEL */

.bienvenida{
    box-sizing:content-box;

    width:80%;
    padding:20px;
    border:4px solid #47606f;
}

.contacto{
    box-sizing:border-box;

    width:80%;
    padding:20px;
    border:4px solid #47606f;
}