body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

section{
    text-align:center;
}

.contenedor{
    width:35%;
    min-width:18rem;

    margin:auto;

    background:white;
    padding:2rem;

    border-radius:0.625rem;

    text-align:center;

    box-shadow:0 2px 8px rgba(0,0,0,0.1);

    flex-grow:1;
}

.boton{
    display:block;
    width:200px;
    margin:25px auto;
}