h2{
    color:#47606f;
}

textarea{
    height:100px;
}

.checkbox{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:0.9rem;
}

.boton{
    display:block;
    width:280px;
    margin:20px auto;
}
